.List {
  height: 93vh;
  box-sizing: border-box;
  min-width: 150px;
  overflow-y: scroll;
  border: 2px solid black;
}

.List-item {
  cursor: pointer;
}

.List-item:hover {
  color: grey;
}

@media screen and (max-width: 600px) {
  .List {
    max-width: max-content;
    width: auto;
  }
}